<h1>Welcome to refactr.it!</h1>
<p>You have successfully signed in at refactr.it with your github account.</p>
<p>Thanks for joining and we look forward to seeing you again!</p>
<p>Have a nice day! :)</p>
