<div class="row">
  <div class="span8">
    <%= render 'form', problem: @problem %>
  </div>

  <div class="span4">
    <div class="bordered-unit new-problem-sidebar">
      side bar
    </div>
  </div>
</div>
