// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.problem-description {
  height: 200px;
}

.file-content {
  height: 300px;
}

#add-file {
  color: blue;
  cursor: pointer;
}

#add-file:hover {
  color: red;
}
