// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// all
ul.tag-list {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  cursor: text;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  min-height: 1px;
  z-index: 999;
  margin: 10px 0px 10px 0px;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  clear: left;
  display: inline;
}

ul.tag-list-new-line {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  cursor: text;
  font-size: 12px;
  font-family: Verdana, sans-serif;
  min-height: 1px;
  z-index: 999;
  margin: 0;
  padding: 0;
  background-color: #fff;
  list-style-type: none;
  clear: left;
}

li.tag-list-token {
  overflow: hidden;
  height: auto !important;
  height: 15px;
  margin: 3px;
  padding: 1px 3px;
  background-color: #eff2f7;
  color: #000;
  cursor: default;
  border: 1px solid #ccd5e4;
  font-size: 11px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  float: left;
  white-space: nowrap;
  display: inline;
}


li.tag-count {
  margin: 4px;
  line-height: 20px;
}

li.tag-list-token-new-line {
  overflow: hidden;
  height: auto !important;
  height: 15px;
  margin: 3px 3px 3px 0;
  padding: 1px 3px;
  background-color: #eff2f7;
  color: #000;
  cursor: default;
  border: 1px solid #ccd5e4;
  font-size: 11px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  white-space: nowrap;
}

// index

ul.problem-sort-links {
  margin: 10px 0 10px 0;
  padding-left: 10px;
  padding-right: 10px;
}

.problem-sort-links > li > a {
  line-height: 1.75em;
  font-weight: bold;
  padding: 5px;
  margin: 5px 5px 0 5px;
}

.grid-problem-content {
  min-height: 80px;
}

.grid-problem-stats {
  margin: 0 10px 0 0;
  text-align: center;
  font-size: 0.8em;
  height: 100px;
}

.grid-problem-views {
  color: #ccc;
  text-align: center;
  font-size: 1.75em;
  margin: 0;
}

.grid-problem-count {
  font-size: 1.5em;
  font-weight: bold;
}

.grid-problem-info {
  display: block;
  margin-bottom: 5px;
  font-size: 0.8em;
}

// new/edit
#problem-body {
  height: 500px;
}

.new-problem-sidebar {
  padding: 10px;
}

#problem-preview {
  padding: 10px;
}

.sign-in-warning {
  margin-bottom: 10px;
}

// show
.problem-title {
  font-size: 1.75em;
  line-height: 1.75em;
  border-bottom: 1px solid #DDD;
}

.problem-author {
  background-color: #eee;
  padding: 10px;
  font-size: 0.9em;
}

.problem-actions {
  padding: 10px 0 10px 0;
  font-size: 0.9em;
}

#problem-content {
  border-bottom: 1px dotted #eee;
  margin-bottom: 10px;
}

.problem-end {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

#problem-comments-form-show {
  cursor: text;
}

.problem-comments {
  margin: 10px 0 0 0;
}

.problem-info {
  margin-bottom: 10px;
}

.problem-votes {
  padding: 0;
  line-height: 3em;
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 10px;
}

.problem-rating {
  padding: 5px;
  font-size: 1.5em;
}

.problem-rating-meter {
  margin: 0;
}

.problem-stats {
  margin-bottom: 10px;
}

.problem-stats > p {
  font-size: 0.9em;
  margin: 0;
}

.problem-language {
  margin-bottom: 10px;
}

.problem-language > h5 {
  display: inline;
}

.add-comment {
  margin: 10px 0 10px 0;
}

.comment-form {
  margin-top: 10px;
}

.comment-body {
  height: 100px;
}

.comment-content {
  padding: 5px 0 5px 0;
  border-bottom: 1px dotted #ddd;
  font-size: 0.9em;
}

.comment-author {
  margin-left: 20px;
  font-weight: bold;
}

.solution-row {
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

.solutions-title {
  font-size: 1.75em;
  line-height: 1.75em;
  border-bottom: 1px solid #ddd;
}

.solution-preview {
  padding: 10px;
  margin-bottom: 10px;
}

.solution-problem-votes {
  font-size: 1.1em;
  text-align: center;
}

.solution-problem-rating {
  padding: 5px;
  font-weight: bold;
}

.solution-actions {
  padding: 10px 0 10px 0;
  font-size: 0.9em;
}

.solution-author {
  background-color: #eee;
  padding: 10px;
  font-size: 0.9em;
}

.solution-content {
  padding: 5px 0 5px 0;
  border-bottom: 1px dotted #ddd;
}

#solution-body {
  height: 300px;
}

.rating-vote-icon {
  color: #CCC;
}

a > i.rating-vote-icon:hover {
  color: #08C;
  text-decoration: none;
}

.voted {
  color: #08C;
}
