// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.users-title {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 5px 0 5px 0;
}

.users-subtitle {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 5px 0 5px 0;
}

.user-header {
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}

.activity-list {
  border-top: 1px solid #ddd;
}

.activity-item {
  padding: 5px 0px 5px 0px;
  border-bottom: 1px solid #ddd;
}

.activity-item h5 {
  padding: 0;
  margin: 0;
}

.activity-icon {
  font-size: 40px;
  margin-right: 10px;
  float: left;
  line-height: 45px;
  color: #999;
}
